<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots" rel="stylesheet"> 
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<style type="text/css">
body{
	margin:0;
	padding:0;
	font-family:'Raleway',sans-serif;
	font-size:12px;
}

.img-rounded{
	width: 300px;
	height: 300px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right:25px;
}

.theta{
	font-size: 18px;
	margin-left: 50px;
	margin-top:30px;
	color:white;
	margin-right: 25px;
	text-align: justify;
}

.title{
	color:white;
	font-weight: 50;
	margin-left:50px;
	color:#80CBCA;
}

.foot{
	color:white;
	margin-left:50px;
	font-size: 18px;
	text-align: justify;
}

.beta{
	margin-top: 20px;
	margin-bottom: 20px;
	color:#80CBCA;
	font-size: 3em;
}
</style>

<div class="container">
	<section class="title-wrapper">
	<h1 class="h1 title" style="margin-top : 30px; font-size: 5em;margin-right: 20px;"> <b>Message</b></h1>
		<span class="line"></span>
		<p class="beta"><b>
			Director, ABV-IIITM Gwalior
		</b></p>
	</section>
	<div class="row gt60">
		<div class="col-md-3 col-sm-3 col-md-offset-1 ">
			<div class="img-box">
				<img src="{% static 'mom2k18/images/dir.jpg' %}" class="img-rounded img-responsive" alt="Director">
			</div>
		</div>
		<div class="col-md-7 col-sm-7">
			<div class="text-info">
				<p class="theta">
					It gives me immense pleasure to know that the 4th edition of the Nation­al Technical Innovation Fair-Mind Over Matter (MOM-2K18) would be taking things up by a notch.After an overwhelming response from past three years, this year too MOM will bring up innovative ideas that can make a change.MOM will become a vibrant medium to expres+s creative and innovative ideas that can support the theme of " A Road Towards Safer India". MOM greatly contributes to the enhancement of student’s creativity and proves that if given a chance the youngest minds can bring some of the most ground breaking ideas.MOM is testimonial to the incessant quest for knowledge among the stu­dents from various schools and colleges. Keeping up with its ideology that technology is best when it brings people together; MOM proves itself as the symbol of energy, knowledge and passion.
				</p><br>
				<p class="foot">
					<b>With best wishes ! <br><h4 class="title">Dr. S. G. Deshmukh,<br>Director,<br>ABV-IIITM, Gwalior<br></h4>
				</b></p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<section class="title-wrapper">
		<span class="line"></span>
		<p class="beta"><b>
			Faculty Coordinator Mind Over Matter 2k18
		</b></p>
	</section>
	<div class="row gt60">
		<div class="col-md-3 col-sm-3 col-md-offset-1">
			<div class="img-box">
				<img src="{% static 'mom2k18/images/mangu1.jpg' %}" class="img-rounded img-responsive" alt="Prof">
			</div>
		</div>
		<div class="col-md-7 col-sm-7">
			<div class="text-info">
				<p class="theta">
					It gives me immense pleasure in welcoming you, on behalf of the entire
					community of the Indian Institute of Information Technology and Management
					Gwalior to the 4th National Technical Innovation Fair, Mind Over Matter (MOM)
					2k18 - ‘A Road Towards Safer India’. 
					MOM has been an undefeated platform for presenting Innovative ideas by the
					young minds of our country. We believe that great ideas can and do come from
					anywhere and so MOM creates an environment conducive not only to the tech
					savvy graduates but also to the curious and smart school students for their
					contribution to the society through numerous events awaiting your participation.
					I invite you all to experience MOM 2k18, the only one of its kind and let yourself
					free of all the boundaries to explore and innovate.
					</p>
				<p class="foot"><br>
					<b>With best wishes ! <br><h4 class="title">Dr. Pankaj Srivastava,<br>Faculty Coordinator,<br>MOM 2k18<br></h4>
				</b></p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<section class="title-wrapper ">
		<span class="line"></span>
		<p class="beta">
			<b>Faculty Co-Coordinator Mind Over Matter 2k18
		</b></p>
	</section>
	<div class="row gt60">
		<div class="col-md-3 col-sm-3 col-md-offset-1 ">
			<div class="img-box">
				<img src="{% static 'mom2k18/images/neetesh.jpg' %}" class="img-rounded img-responsive" alt="Prof" >
			</div>
		</div>
		<div class="col-md-7 col-sm-7">
			<div class="text-info">
				<p class="theta">
					On the behalf Co-coordinator of MoM ABV-IIITM Gwalior, I would like to express my gratitude and hearty welcome to all the participants, organizing committee and all the contributors in the 4th National Technical Innovation fair on “A Road Towards Safer India”.<br>
					I am very happy to see the unceasing success of MoM and must congratulate to enthusiastic efforts of the MoM team, ABV-IIITM Gwalior for 4rd National Technical Innovation of MoM. MoM is indeed a great platform for the young students to take initiatives and come forward with their technological solutions considering social, environmental and real life issues. In my view, this is a fruitful medium to explore student’s creativity, team spirit, leadership and management qualities with a good integration of technology inspired activities in the presence of innovative ideas. I wish my heartiest warm wishes to the MoM team, volunteers and all contributors for a such energetic event!
					</p>   
				<p class="foot"><br>
					<b>With best wishes ! <br><h4 class="title">Dr. Neetesh Kumar<br>Faculty Co-Coordinator<br>MOM 2k18<br></h4>
					</b></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
