<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
body{
	margin:0;
	padding:0;
	font-family: 'raleway' , sans-serif;
	font-size:12px;
	background: #2980b9 url("/static/mom2k18/images/tumblr_static_bg3.png") repeat 0 0;
	-webkit-animation: 5s linear 0s normal none infinite animate;
	-moz-animation: 5s linear 0s normal none infinite animate;
	-ms-animation: 5s linear 0s normal none infinite animate;
	-o-animation: 5s linear 0s normal none infinite animate;
	animation: 5s linear 0s normal none infinite animate;

}

.title{
	margin: 70px;
  color: #AAAAAA;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}

.img-responsive{
	margin:20px;
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}


</style>

<div class="container " >
	<h1 class="h1 title text-center" style="color:#DDD;">Past Sponsors </h1>
	
	<div class="row">
		<div class="col-md-offset-1 col-sm-10 col-md-10 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/reso.png' %}" alt="Resonance">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/images/sponsors/godrej.png' %}" alt="port">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/images/sponsors/dainikbhaskargrouplogo.png' %}" alt="Resonance">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/images/sponsors/qc.png' %}" alt="port"><br><br><br>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/sbi.png' %}" alt="state of India">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/images/sponsors/Bank_of_India.png' %}">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/myfm.png' %}" alt="port">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/relish.png' %}" alt="port">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/college.png' %}" alt="port"><br><br><br>
			</div>
		</div>
		<br><br><br>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/yc.png' %}" alt="port">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/ebay.png' %}" alt="port">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/bros.png' %}" alt="port">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/arp.png' %}" alt="port">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/Logo_Qcfi-3.png' %}" alt="port"><br><br><br>
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/festPav.png' %}" alt="port">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/base/images/sponsors/college.png'%}" 	alt="port">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/images/sponsors/logo-indiacollegefest.png' %}" alt="port">
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/images/sponsors/knowafest.png' %}" alt="port"><br><br><br>
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-md-offset-1">
			<div class="port2-box">
				<img class="img-responsive" src="{% static 'mom2k18/images/sponsors/Awesong_Black.png' %}" alt="My FM">

			</div>
		</div>
	</div>
</div>


<!-- [ PORTFOLIO-1 PAGE END ] -->



</div>

<!-- [ OC-CLICK OVERLAY ] -->

<!-- [ OC-CLICK OVERLAY END ] -->

</main>
<!-- [ PAGE-SECTION END ] -->

{% endblock %}
